@media only screen and (max-width: 910px) {
    .well {
      min-height: 350px;
    }
}

@media only screen and (max-width: 790px) {
    .well {
      min-height: 385px;
    }
}

@media only screen and (max-width: 750px) {
    .well {
      min-height: 240px;
    }
}

@media only screen and (max-width: 400px) {
	.container>.navbar-header{
		margin-left: 0!important;
	}
}

 